<% content_for :add_new do %>
<!-- <h3>Add new</h3> -->

<% unless @entry.valid? %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<% end %>

<%= form_for(@entry, :html => {:class => "form-inline"}) do |f| %>
  <div class="form-group">
    <%= f.text_field :date, :class => 'form-control datepicker', :placeholder => "Date", :style => "max-width: 100px;" %>
  </div>
  <div class="form-group">
    <%= f.text_field :name, :class => 'form-control', :placeholder => "What are you working on?" %>
  </div>
  <div class="form-group">
    <%= f.text_field :hours, :class => 'form-control', :placeholder => "Hours", :style => "max-width: 100px;" %>
  </div>
  <div class="form-group">
    <%= f.text_field :minutes, :class => 'form-control', :placeholder => "Minutes", :style => "max-width: 100px;" %>
  </div>
  <div class="form-group">
    <%= collection_select(:entry, :employee_id, Employee.all, :id, :name, {:prompt => 'Select Employee'},  {:class=>'form-control'}) %>
  </div>
  <div class="form-group">
    <%= collection_select(:entry, :project_id, Project.all, :id, :name, {:prompt => 'Select Project'}, {:class=>'form-control'}) %>
  </div>
  <div class="form-group">
    <%= f.select :billable, options_for_select([['Billable', 1], ['Non-Billable', 0]], 1), {}, {:class=>'form-control'} %>
  </div>
  <%= f.submit "Add New", class: 'btn btn-primary' %>
<%end %>

<% end %>

<% if notice %>
<div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<h3 class="text-muted">Today <small><%= distance_of_time_in_words(@today_entries.sum(:time)) %></small></h3>

<table class="table">
  <thead>
    <tr>
      <!-- <th>Date</th> -->
      <th>Task</th>
      <th>Time spent</th>
      <th>Project</th>
      <th>Employee</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @today_entries.each do |entry| %>
      <tr>
        <td><%= entry.name %></td>
        <td><%= distance_of_time_in_words(entry.time) %></td>
        <td><%= entry.project.name %></td>
        <td><%= entry.employee.name %></td>
        <td>
          <% if entry.billable == 1 %>
            <span class="label label-success">Billable</span>
          <% else %>
            <span class="label label-default">Non-Billable</span>
          <% end %>
        </td>
        <td class="text-right">
          <%= link_to 'Show', entry, class: "btn btn-sm btn-default" %>
          <%= link_to 'Edit', edit_entry_path(entry), class: "btn btn-sm btn-default" %>
          <%= link_to entry, class: "btn btn-sm btn-default", method: :delete, data: { confirm: 'Are you sure?' } do %>
          Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h3 class="text-muted">Yesterday <small><%= distance_of_time_in_words(@yesterday_entries.sum(:time)) %></small></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Task</th>
      <th>Time spent</th>
      <th>Project</th>
      <th>Employee</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @yesterday_entries.each do |entry| %>
      <tr>
        <td><%= entry.name %></td>
        <td><%= distance_of_time_in_words(entry.time) %></td>
        <td><%= entry.project.name %></td>
        <td><%= entry.employee.name %></td>
        <td>
          <% if entry.billable == 1 %>
            <span class="label label-success">Billable</span>
          <% else %>
            <span class="label label-default">Non-Billable</span>
          <% end %>
        </td>
        <td class="text-right">
          <%= link_to 'Show', entry, class: "btn btn-sm btn-default" %>
          <%= link_to 'Edit', edit_entry_path(entry), class: "btn btn-sm btn-default" %>
          <%= link_to 'Destroy', entry, class: "btn btn-sm btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


