<p id="notice"><%= notice %></p>

<h2><%= @project.name %></h2>

<h3>Entries</h3>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time spent</th>
      <th>Billable</th>
      <th>Employee</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Total time spent</th>
      <th><%= distance_of_time_in_words(@project.entries.sum(:time)) %></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>

  <tbody>
    <% @project.entries.each do |entry| %>
      <tr>
        <td><%= entry.name %></td>
        <td><%= distance_of_time_in_words(entry.time.to_i) %></td>
        <td>
          <% if entry.billable == 1 %>
            <span class="label label-success">Billable</span>
          <% else %>
            <span class="label label-default">Non-Billable</span>
          <% end %>
        </td>
        <td><%= entry.employee.name %></td>
        <td class="text-right">
          <%= link_to 'Show', entry, class: "btn btn-sm btn-default" %>
          <%= link_to 'Edit', edit_entry_path(entry), class: "btn btn-sm btn-default" %>
        <%= link_to 'Destroy', entry, class: "btn btn-sm btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
