<!DOCTYPE html>
<html>
<head>
  <title>Timer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- NAVBAR -->
  <%= render "partials/navbar" %>

  <!-- MAIN CONTENT  -->
  <div class="container">
  
  <!-- Header -->
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="<%= 'active' if current_page?(entries_path) %>"><a href="/entries">Entries</a></li>
        <li role="presentation" class="<%= 'active' if current_page?(employees_path) %>"><a href="/employees">Employees</a></li>
        <li role="presentation" class="<%= 'active' if current_page?(projects_path) %>"><a href="/projects">Projects</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Timer App</h3>
  </div>

  <!-- Content -->
  <%= yield %>

  <!-- Footer -->
  <%= render "partials/footer" %>

  </div><!-- /.container -->

</body>
</html>
